* {
  font-family: "Inter", sans-serif;
  color: #030616;
}

h1 {
  font-weight: 600;
  font-size: 2.25rem;
}
h2 {
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 1rem;
}

p {
    font-weight: 400;
    font-size: 1rem;
    padding: 1.5rem 1.5rem 1.5rem 0;
}
li {
    font-weight: 400;
    padding: 0.5rem 0;
}
br {
    padding: 0.5rem 0;
}
.container-title {
  margin: 2rem 0;
    text-align: center;
  background-color: #fff;
  padding: 3rem 4rem 1rem;
  margin-bottom: 2rem;
}

.question {
     background-color: #f8fafc;
    padding: 2rem 2rem 2rem 35rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.text-bord {
    font-weight: 600;
}
.br-salto{
    padding: 1rem;
}

.link{
    color: #4E80EE;
    cursor: pointer;
}